/* 
a {}

#id {}

*/

/*
#panel-header
#login-button
#panel-center
#panel-footer-country
#panel-footer
#panel-footer-left
#panel-footer-right
*/

/* horizontal navigation bar */

li {
    display: inline;
  }


/* my code */

#panel-right {
    float: right; 
}

#panel-left {
    float: left;
}

#panel-center {
    position: relative;
    left: 25%;
    top: 25%; /*not working like i want */

}