/* 
a {}

#id {}

.class {}

- top border?

border-style: top right bottom left
background-color:


*/


/* horizontal navigation bar */

li {
    display: inline;
  }


/* my code */

.float-right {
    float: right; 
}

.float-left {
    float: left;
}

#panel-center {
    position: relative;
    left: 25%;
    top: 25%; /*not working like i want */
    border: 25%;

}
.panel-footer {
    border-top: 2px solid;
    background-color: rgb(238, 211, 211);
}